.generall {
	height: 100%;
	width: 100%;
	background: linear-gradient(135deg, #71b7e6, #9b59b6); 
	background-repeat: repeat;
	background-size: 100% 100%;
	

	display: flex;
	justify-content: center;
	align-items: center;
}

.containerr {
	background-color: #ffffff;
	width: 70%;
	/* important */
	max-height: 80vh;
	overflow-y: auto;
	min-width: 420px;
	padding: 25px 25px;
	/* transform: translate(-50%, -50%); */
	/* position: absolute; */
	/* left: 50%; */
	/* top: 50%; */
	border-radius: 10px;
	box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.15);
	/* margin-top: 2%; */
}
.generall .columnn {
   
	width: 80%;
}
.generall h1 {
	font-size: 30px;
	text-align: center;
	color: #1c093c;
}
.generall p {
	position: relative;
	margin: auto;
	width: 100%;
	text-align: center;
	color: #606060;
	font-size: 14px;
	font-weight: 400;
}
.generall form {
	width: 100%;

	margin: 30px auto 0 auto;
}
.generall .roww {
	width: 100%;
	display: flex;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-gap: 20px 30px;
	margin-bottom: 20px;
	justify-content: space-between;
	align-items: flex-start;
}
.generall label {
	color: #1c093c;
	font-size: 14px;
}
.generall textarea,
input,
select,
option {
	width: 100%;
	font-weight: 400;
	padding: 8px 10px;
	border-radius: 5px;
	border: 1.2px solid #c4cae0;
	margin-top: 5px;
}
.generall textarea {
	resize: none;
}
.generall textarea:focus,
input:focus {
	outline: none;
	border-color: #6f6df4;
}
#people {
	width: 7rem !important;
}
.generall button {
	border: none;
	padding: 10px 20px;
	background: linear-gradient(130deg, #6f6df4, #4c46f5);
	color: #ffffff;
	border-radius: 3px;
}

.searchButton {
	display: flex;
	justify-content: flex-end;
	width: 50%;
	margin-top: 2.2rem;
	margin-right: 5.5rem;
}

#searchButtonDiv {
	width: 15rem;
}

@media (max-width: 728px) {
	.containerr {
		/* grid-template-columns: none;
		grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
	
		display: flex;
		flex-wrap: wrap;
		height: 500px;
		margin-bottom: 12px;
		overflow-y: scroll; */
		/* overflow-y: auto;
        display: block; */
	}
}

@media (max-width: 1200px) {
	.yusuf-container .roww {
		display: block;
		margin-left: 2rem;
	}
	.searchButton {
		justify-content: flex-start;
		margin-top: 1rem
	}
	#searchButtonDiv {
		width: 50%;
	}
}