
@media (max-width: 1594px) {
    .bg-image {
        margin-top: 5rem !important;
    }

}
.loginButton{
    background-color:#007bff !important;
   
}
@media (max-width: 1188px) {
    .bg-image {
        margin-top: 8rem !important;
    }

}
@media (max-width: 1536px) {
    .login,
    .image {
        min-height: 91.8vh !important;

    }

}
@media (min-width: 1537px) {

    .login,
    .image {
        min-height: 94vh !important;

    }

}
@media (max-width: 992px) {
    .bg-image {
        margin-top: 10rem !important;

    }

}

@media (max-width: 990px) {
    .login{
       min-height: 81vh !important;

    }

}

.container-fluid  {
    background-color: rgba(241, 246, 247, 0.678);
}
.col-lg-5 .form-section .login{
    background-color: rgba(241, 246, 247, 0.678);
}

.bg-image {
    margin-top: 1.8rem;
    background-size: 100%;
    background-repeat: no-repeat;
    
}