body {
    background-image: url('https://images.unsplash.com/photo-1622671890543-bfbca2178998?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-size: 100%;
    

}