.img-bg {
    background-image: url('https://images.unsplash.com/photo-1488342994276-7c3bc0742042?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80 ');
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 92vh;
    color: white;
    font-size: large;
    font-weight: bold;
     opacity: 0.9; 
}